// -----------------------------------------------------------------------------
//   Ambient.Impact - Media - Media play overlay component
// -----------------------------------------------------------------------------

@use 'icon';
@use '_media_play_overlay' as *;
@use 'material.common/material.general' as material-general;
@use 'sass/helpers/colour';

.media-play-overlay {
  $self: &;

  position: relative;

  &__overlay {
    position:   absolute;

    top:      0;
    left:     0;
    right:    0;
    bottom:   0;

    display:          flex;
    justify-content:  center;
    align-items:      center;

    // Even if the browser doesn't support this, it's preferable to have it
    // overlay the field rather than not, as the design looks odd. Users of
    // modern browsers can right click/long press to view the image, while
    // older browsers won't be able to.
    pointer-events: none;

    transition-property:        opacity;
    transition-duration:        0.2s;
    transition-timing-function: linear;

    text-decoration:  none;

    // Make invisible when a field is playing.
    #{$self}--playing & {
      opacity: 0;
    }
  }

  &__icon {
    padding:        0.5em 0.8em;

    @include colour.set(
      $background:  $media-play-overlay-indicator-background-colour
    );

    border-radius:  material-general.$border-radius;

    font-size:      150%;

    &:not(.ambientimpact-icon--icon-standalone-loaded) { // Specificity.
      // Don't indent the icon, as this messes with the background.
      @include icon.set-icon-text-indent(0);

      @include icon.set-icon-display(block);

      // Reset the default icon-in-link vertical alignment to a centre value
      // because we don't have underlines to worry about.
      a & {
        @include icon.set-icon-vertical-alignment(centre);
      }
    }

    // Center this vertically, as we don't have the underline to offset the
    // vertical alignment.
    @include icon.set-icon-vertical-alignment(centre);
  }
}
