// -----------------------------------------------------------------------------
//	Ambient.Impact - Core - Link component custom properties partial
// -----------------------------------------------------------------------------


///
/// Set link colour CSS custom properties on the current element.
///
/// @param {Color} $background [$background-colour]
///   The background colour the link is on.
///
/// @param {Map|Null} $colours [null]
///   A map of link colours returned from the get-link-colours() function, or
///   null. This is useful if you don't want to generate the colours more than
///   once, for performance during compilation. If null, will call the function.
///
/// @require {function}	get-link-colours
/// @require {mixin}	custom-property
///
@mixin link-colour-custom-properties(
	$background:	$background-colour,
	$colours:		null
) {
	@if ($colours == null) {
		$colours: get-link-colours($background);
	}

	@include custom-property(
		'link-normal-colour',
		map-get($colours, 'normal')
	);
	@include custom-property(
		'link-hover-colour',
		map-get($colours, 'hover')
	);
	@include custom-property(
		'link-active-colour',
		map-get($colours, 'active')
	);
	@include custom-property(
		'link-underline-normal-colour',
		map-get($colours, 'underline-normal')
	);
	@include custom-property(
		'link-underline-hover-colour',
		map-get($colours, 'underline-hover')
	);
	@include custom-property(
		'link-underline-active-colour',
		map-get($colours, 'underline-active')
	);
}
