// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Link component variables partial
// -----------------------------------------------------------------------------

///
/// The link base colour.
///
/// This is used to create the default link colours, using
/// $material-primary-colour, if it exists, falling back to a faded and darkened
/// blue if it does not exist.
///
$link-base-colour: if(
  variable-exists(material-primary-colour),
  $material-primary-colour,
  #3B53BF
) !default;

///
/// Link colour on light backgrounds when not highlighted/activated.
///
$link-normal-colour-on-light: $link-base-colour !default;

///
/// Link colour on dark backgrounds when not highlighted/activated.
///
/// This takes the base link colour and inverts the lightness, which works for
/// most colours that aren't too dark, but you may have to adjust it if the base
/// colour is fairly dark.
///
/// @require {function} invert-lightness
///
$link-normal-colour-on-dark: invert-lightness($link-base-colour) !default;

///
/// Link colour on light backgrounds when hovered/focused.
///
$link-hover-colour-on-light:
  lighten($link-normal-colour-on-light, 10%) !default;

///
/// Link colour on dark backgrounds when hovered/focused.
///
$link-hover-colour-on-dark:
  lighten($link-normal-colour-on-dark,  10%) !default;

///
/// Link colour on light backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-active-colour-on-light: auto !default;

///
/// Link colour on dark backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-active-colour-on-dark: auto !default;

///
/// Link underline colour on light backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-light:
  rgba($link-normal-colour-on-light, 0.6) !default;

///
/// Link underline colour on dark backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-dark:
  rgba($link-normal-colour-on-dark, 0.6) !default;

///
/// Link underline colour on light backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-light: $link-hover-colour-on-light !default;

///
/// Link underline colour on dark backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-dark: $link-hover-colour-on-dark !default;

///
/// Link underline colour on light backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-underline-active-colour-on-light: $link-active-colour-on-light !default;

///
/// Link underline colour on dark backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-underline-active-colour-on-dark: $link-active-colour-on-dark !default;
