// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Link component state partial
// -----------------------------------------------------------------------------

///
/// Apply styles to link hover and focus states.
///
/// This applies the given styles to the hover state if the primary input
/// supports it natively - i.e. is a mouse/trackpad, and not touch - on both the
/// native hover and .proxy-hover class. If indicated by the parameter, will
/// also apply the styles on a non-pointer focus.
///
/// @param {String} $focus [true]
///   Whether to also apply the styles to the focus state, either true or false.
///
/// @content
///   The styles to apply on hover and focus (if indicated).
///
/// @require {mixin} yep
/// @require {mixin} not-pointer-focus
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/@media/hover
///
@mixin link-hover($focus: true) {
  @media (hover: hover) {
    &:hover,
    &.proxy-hover {
      @content;
    }
  }

  @if ($focus == true) {
    @include not-pointer-focus {
      @content;
    }
  }
}

///
/// Apply styles to link active state.
///
/// This applies the given styles to the element if it does not have the
/// .disable-default-active-state, on both the native active and the
/// .proxy-active class.
///
/// @content
///   The styles to apply on active state.
///
@mixin link-active {
  &:not(.disable-default-active-state) {
    &:active,
    &.proxy-active {
      @content;
    }
  }
}
