// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Link component colour partial
// -----------------------------------------------------------------------------

///
/// Set link colour properties based on background colour.
///
/// @param {Color} $background [$background-colour]
///   The background colour the link is on.
///
/// @param {Color} $normal-on-light [$link-normal-colour-on-light]
///   Link colour on light backgrounds when not hovered/activated.
///
/// @param {Color} $hover-on-light [$link-hover-colour-on-light]
///   Link colour on light backgrounds when hovered/focused.
///
/// @param {Color} $active-on-light [$link-active-colour-on-light]
///   Link colour on light backgrounds when activated.
///
/// @param {Color} $underline-normal-on-light [$link-underline-normal-colour-on-light]
///   Link underline colour on light backgrounds when not hovered/activated.
///
/// @param {Color} $underline-hover-on-light [$link-underline-hover-colour-on-light]
///   Link underline colour on light backgrounds when hovered/focused.
///
/// @param {Color} $underline-active-on-light [$link-underline-active-colour-on-light]
///   Link underline colour on light backgrounds when activated.
///
/// @param {Color} $normal-on-dark [$link-normal-colour-on-dark]
///   Link colour on dark backgrounds when not highdarked/activated.
///
/// @param {Color} $hover-on-dark [$link-hover-colour-on-dark]
///   Link colour on dark backgrounds when hovered/focused.
///
/// @param {Color} $active-on-dark [$link-active-colour-on-dark]
///   Link colour on dark backgrounds when activated.
///
/// @param {Color} $underline-normal-on-dark [$link-underline-normal-colour-on-dark]
///   Link underline colour on dark backgrounds when not highdarked/activated.
///
/// @param {Color} $underline-hover-on-dark [$link-underline-hover-colour-on-dark]
///   Link underline colour on dark backgrounds when hovered/focused.
///
/// @param {Color} $underline-active-on-dark [$link-underline-active-colour-on-dark]
///   Link underline colour on dark backgrounds when activated.
///
/// @require {function} get-link-colours
/// @require {mixin}    link-colour-custom-properties
/// @require {function} custom-property
///
@mixin link-colours(
  $background:                $background-colour,

  $normal-on-light:           $link-normal-colour-on-light,
  $hover-on-light:            $link-hover-colour-on-light,
  $active-on-light:           $link-active-colour-on-light,

  $underline-normal-on-light: $link-underline-normal-colour-on-light,
  $underline-hover-on-light:  $link-underline-hover-colour-on-light,
  $underline-active-on-light: $link-underline-active-colour-on-light,

  $normal-on-dark:            $link-normal-colour-on-dark,
  $hover-on-dark:             $link-hover-colour-on-dark,
  $active-on-dark:            $link-active-colour-on-dark,

  $underline-normal-on-dark:  $link-underline-normal-colour-on-dark,
  $underline-hover-on-dark:   $link-underline-hover-colour-on-dark,
  $underline-active-on-dark:  $link-underline-active-colour-on-dark
) {
  $colours: get-link-colours(
    $background,

    $normal-on-light,
    $hover-on-light,
    $active-on-light,

    $underline-normal-on-light,
    $underline-hover-on-light,
    $underline-active-on-light,

    $normal-on-dark,
    $hover-on-dark,
    $active-on-dark,

    $underline-normal-on-dark,
    $underline-hover-on-dark,
    $underline-active-on-dark
  );

  @include link-colour-custom-properties($background, $colours);

  color:  map-get($colours, normal);
  color:  custom-property('link-normal-colour');

  // Add underline colour for browsers that support it, though text-
  // decoration-skip: ink; is not well supported as of November 2017 and fancy
  // link underlines still give us more control, e.g. underline thickness.
  text-decoration-color:  map-get($colours, underline-normal);
  text-decoration-color:
    custom-property('link-underline-normal-colour');

  @include link-hover {
    color:  map-get($colours, hover);
    color:  custom-property('link-hover-colour');

    text-decoration-color: map-get($colours, underline-hover);
    text-decoration-color:
      custom-property('link-underline-hover-colour');
  }
  @include link-active {
    color:  map-get($colours, active)             !important;
    color:  custom-property('link-active-colour') !important;

    text-decoration-color:  map-get($colours, underline-active);
    text-decoration-color:
      custom-property('link-underline-active-colour');
  }
}

///
/// Get link colour values based on background colour.
///
/// @param {Color} $background [$background-colour]
///   The background colour the link is on.
///
/// @param {Color} $normal-on-light [$link-normal-colour-on-light]
///   Link colour on light backgrounds when not hovered/activated.
///
/// @param {Color} $hover-on-light [$link-hover-colour-on-light]
///   Link colour on light backgrounds when hovered/focused.
///
/// @param {Color} $active-on-light [$link-active-colour-on-light]
///   Link colour on light backgrounds when activated.
///
/// @param {Color} $underline-normal-on-light [$link-underline-normal-colour-on-light]
///   Link underline colour on light backgrounds when not hovered/activated.
///
/// @param {Color} $underline-hover-on-light [$link-underline-hover-colour-on-light]
///   Link underline colour on light backgrounds when hovered/focused.
///
/// @param {Color} $underline-active-on-light [$link-underline-active-colour-on-light]
///   Link underline colour on light backgrounds when activated.
///
/// @param {Color} $normal-on-dark [$link-normal-colour-on-dark]
///   Link colour on dark backgrounds when not highdarked/activated.
///
/// @param {Color} $hover-on-dark [$link-hover-colour-on-dark]
///   Link colour on dark backgrounds when hovered/focused.
///
/// @param {Color} $active-on-dark [$link-active-colour-on-dark]
///   Link colour on dark backgrounds when activated.
///
/// @param {Color} $underline-normal-on-dark [$link-underline-normal-colour-on-dark]
///   Link underline colour on dark backgrounds when not highdarked/activated.
///
/// @param {Color} $underline-hover-on-dark [$link-underline-hover-colour-on-dark]
///   Link underline colour on dark backgrounds when hovered/focused.
///
/// @param {Color} $underline-active-on-dark [$link-underline-active-colour-on-dark]
///   Link underline colour on dark backgrounds when activated.
///
/// @return {Map}
///   A map of link and link underline colours for normal, hovered, and active
///   states.
///
/// @require {mixin} get-contrasting-colour
///
@function get-link-colours(
  $background:                $background-colour,

  $normal-on-light:           $link-normal-colour-on-light,
  $hover-on-light:            $link-hover-colour-on-light,
  $active-on-light:           $link-active-colour-on-light,

  $underline-normal-on-light: $link-underline-normal-colour-on-light,
  $underline-hover-on-light:  $link-underline-hover-colour-on-light,
  $underline-active-on-light: $link-underline-active-colour-on-light,

  $normal-on-dark:            $link-normal-colour-on-dark,
  $hover-on-dark:             $link-hover-colour-on-dark,
  $active-on-dark:            $link-active-colour-on-dark,

  $underline-normal-on-dark:  $link-underline-normal-colour-on-dark,
  $underline-hover-on-dark:   $link-underline-hover-colour-on-dark,
  $underline-active-on-dark:  $link-underline-active-colour-on-dark
) {
  $colours: ();

  $contrasting-colour: get-contrasting-colour(
    $background:          $background,
    $foreground-on-light: $normal-on-light,
    $foreground-on-dark:  $normal-on-dark
  );

  @if ($contrasting-colour == $normal-on-light) {
    $colours: (
      normal:           $normal-on-light,
      hover:            $hover-on-light,
      active:           $active-on-light,

      underline-normal: $underline-normal-on-light,
      underline-hover:  $underline-hover-on-light,
      underline-active: $underline-active-on-light
    );

  } @else if ($contrasting-colour == $normal-on-dark) {
    $colours: (
      normal:           $normal-on-dark,
      hover:            $hover-on-dark,
      active:           $active-on-dark,

      underline-normal: $underline-normal-on-dark,
      underline-hover:  $underline-hover-on-dark,
      underline-active: $underline-active-on-dark
    );
  }

  @return $colours;
}
