// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Material colour partial
// -----------------------------------------------------------------------------

///
/// Material Design primary colour.
///
/// This is used in many elements as a consistent colour scheme to draw the eye.
/// Intended to be overridden with a custom theme colour.
///
/// @link https://www.materialui.co/colors/indigo/500
///   Defaults to this indigo.
///
$material-primary-colour: rgb(63, 81, 181) !default;

///
/// Material Design error colour.
///
$material-error-colour: rgb(219, 68, 55) !default;

///
/// Material Design line colour on light backgrounds.
///
$material-line-colour-on-light: hsla(0, 0%, 0%, 0.15) !default;

///
/// Material Design line colour on dark backgrounds.
///
$material-line-colour-on-dark: hsla(0, 0%, 100%, 0.25) !default;

///
/// Material Design line colour.
///
/// @deprecated This will be removed when all uses of it are converted to light/
/// dark colour scheme-aware.
///
$material-line-colour: $material-line-colour-on-light !default;

///
/// Material Design flat item interact colour on light backgrounds.
///
/// This is used for items such as buttons and tabs when they're being
/// interacted with, i.e. are hovered by the pointer or focused.
///
$material-flat-item-interact-colour-on-light: hsla(0, 0%, 0%, 0.1) !default;

///
/// Material Design flat item interact colour on dark backgrounds.
///
/// This is used for items such as buttons and tabs when they're being
/// interacted with, i.e. are hovered by the pointer or focused.
///
$material-flat-item-interact-colour-on-dark: hsla(0, 0%, 100%, 0.15) !default;
