// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Material panel partial
// -----------------------------------------------------------------------------

@use 'material.common/material.colour' as material-colour;
@use 'material.common/material.general' as material-general;
@use 'material.common/material.shadow' as material-shadow;
@use 'sass:color';
@use 'sass/helpers/breakpoint';
@use 'sass/helpers/colour';

///
/// Material panel background colour, light variant.
///
$material-panel-background-colour-light:
  colour.$background-colour-light !default;

///
/// Material panel background colour, light on light variant.
///
/// This is mixed with the foreground colour a bit to give it some contrast
/// against a light background, if needed.
///
$material-panel-background-colour-light-on-light: color.mix(
  colour.$background-colour-light, colour.$foreground-colour-on-light, 90%
) !default;

///
/// Material panel background colour, dark variant.
///
$material-panel-background-colour-dark: colour.$background-colour-dark !default;

///
/// Material panel background colour, dark on dark variant.
///
/// This is mixed with the foreground colour a bit to give it some contrast
/// against a dark background, if needed.
///
$material-panel-background-colour-dark-on-dark: color.mix(
  colour.$background-colour-dark, colour.$foreground-colour-on-dark, 90%
) !default;

///
/// Material panel background colour.
///
/// @deprecated This is here for legacy purposes to not break stuff. Use the
/// light and dark variables instead.
///
/// @see {variable} $material-panel-background-colour-light
/// @see {variable} $material-panel-background-colour-dark
///
$material-panel-colour: $material-panel-background-colour-light !default;

///
/// Material panel default padding, small.
///
/// @see {mixin} material-panel-padding
///
$material-panel-padding-small: 1.5rem !default;

///
/// Material panel default padding, large.
///
/// @see {mixin} material-panel-padding
///
$material-panel-padding-large: 3rem !default;

///
/// Material panel default padding breakpoint.
///
/// This is the name and @include breakpoint.on() operator used by default in
/// the material-panel-padding mixin to switch between the small and large
/// padding values.
///
/// @see {mixin} material-panel-padding
///
$material-panel-padding-breakpoint: '>=material-panel-padding' !default;

///
/// Material panel divider colour.
///
/// @see {mixin} material-panel-divider
///
$material-panel-divider-colour: material-colour.$line !default;

///
/// Material panel divider thickness.
///
/// @see {mixin} material-panel-divider
///
$material-panel-divider-thickness: 1px !default;

///
/// Material panel divider padding multiplier.
///
/// This is used to scale the padding on either side of the divider relative to
/// the overall panel padding. The default value of 0.3 means it will use 30%
/// of the panel padding values.
///
/// @see {mixin} material-panel-divider
///
$material-panel-divider-padding-multiplier: 0.3 !default;

@include breakpoint.add((
  // The viewport width where Material panels switch between their small and
  // large padding values.
  'material-panel-padding': 30em
));

///
/// Styles to present an element as a Material panel/card.
///
/// This sets background/foreground colours, padding, box-shadow, and
/// border-radius.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {Color} $background-colour [$material-panel-background-colour-light]
///   The background colour for the panel.
///
/// @param {Color} $foreground-colour-on-light [$foreground-colour-on-light]
///   The foreground colour to use if the background colour is considered to be
///   more dark than light.
///
/// @param {Color} $foreground-colour-on-dark [$foreground-colour-on-dark]
///   The foreground colour to use if the background colour is considered to be
///   more light than dark.
///
/// @param {Number} $shadow-depth [2]
///   The shadow depth to pass to the material-shadow mixin.
///
/// @require {mixin} material-panel-padding
/// @require {mixin} material-shadow
/// @require {variable} material-general.$border-radius
/// @require {variable} $material-panel-padding-small
/// @require {variable} $material-panel-padding-large
/// @require {variable} $material-panel-padding-breakpoint
/// @require {variable} $material-panel-background-colour-light
/// @require {variable} $foreground-colour-on-light
/// @require {variable} $foreground-colour-on-dark
///
@mixin material-panel(
  $padding-small:               $material-panel-padding-small,
  $padding-large:               $material-panel-padding-large,
  $padding-breakpoint:          $material-panel-padding-breakpoint,
  $background-colour:           $material-panel-background-colour-light,
  $foreground-colour-on-light:  colour.$foreground-colour-on-light,
  $foreground-colour-on-dark:   colour.$foreground-colour-on-dark,
  $shadow-depth:                2
) {
  @include material-panel-padding(
    $padding-small:       $padding-small,
    $padding-large:       $padding-large,
    $padding-breakpoint:  $padding-breakpoint
  );

  border-radius: material-general.$border-radius;

  @include colour.set-colours(
    $background:          $background-colour,
    $foreground-on-light: $foreground-colour-on-light,
    $foreground-on-dark:  $foreground-colour-on-dark
  );

  @include material-shadow.material-shadow($shadow-depth);
}

///
/// Sets the padding on a Material panel/card.
///
/// This sets padding based on the axis/axes specified and will switch to the
/// larger padding value once the given breakpoint is reached.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {String} $padding-axis ['both']
///   The axis/axes to apply padding to. Valid values are 'horizontal',
///   'vertical', and 'both'.
///
/// @require {mixin} breakpoint.on
/// @require {variable} $material-panel-padding-small
/// @require {variable} $material-panel-padding-large
/// @require {variable} $material-panel-padding-breakpoint
///
@mixin material-panel-padding(
  $padding-small:       $material-panel-padding-small,
  $padding-large:       $material-panel-padding-large,
  $padding-breakpoint:  $material-panel-padding-breakpoint,
  $padding-axis:        'both'
) {
  // Horizontal padding.
  @if $padding-axis == 'horizontal' {
    padding-left:   $padding-small;
    padding-right:  $padding-small;

  // Vertical padding.
  } @else if $padding-axis == 'vertical' {
    padding-top:    $padding-small;
    padding-bottom: $padding-small;

  // Both axes padding.
  } @else {
    padding: $padding-small;
  }

  // Switch to large padding on the provided breakpoint if the small and large
  // padding values are not identical.
  @if $padding-small != $padding-large {
    @include breakpoint.on($padding-breakpoint) {
      // Horizontal padding.
      @if $padding-axis == 'horizontal' {
        padding-left:   $padding-large;
        padding-right:  $padding-large;

      // Vertical padding.
      } @else if $padding-axis == 'vertical' {
        padding-top:    $padding-large;
        padding-bottom: $padding-large;

      // Both axes padding.
      } @else {
        padding: $padding-large;
      }
    }
  }
}

///
/// Style an element as a Material panel divider.
///
/// @param {Color} $colour [$material-panel-divider-colour]
///   The divider colour.
///
/// @param {Number} $thickness [$material-panel-divider-thickness]
///   The divider thickness.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {Number} $padding-multiplier [$material-panel-divider-padding-multiplier]
///   The multiplier to use to scale the padding values up or down. By default,
///   this shrinks the panel padding values.
///
/// @require {mixin} breakpoint.on
/// @require {variable} $material-panel-divider-colour
/// @require {variable} $material-panel-divider-thickness
/// @require {variable} $material-panel-padding-small
/// @require {variable} $material-panel-padding-large
/// @require {variable} $material-panel-padding-breakpoint
/// @require {variable} $material-panel-divider-padding-multiplier
///
@mixin material-panel-divider(
  $colour:              $material-panel-divider-colour,
  $thickness:           $material-panel-divider-thickness,
  $padding-small:       $material-panel-padding-small,
  $padding-large:       $material-panel-padding-large,
  $padding-breakpoint:  $material-panel-padding-breakpoint,
  $padding-multiplier:  $material-panel-divider-padding-multiplier
) {
  height: $thickness;

  margin: ($padding-small * $padding-multiplier) (-$padding-small);

  @include breakpoint.on($padding-breakpoint) {
    margin: ($padding-large * $padding-multiplier) (-$padding-large);
  }

  background-color: $colour;
}

///
/// Style an element as a Material panel footer.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {Number} $padding-multiplier [$material-panel-divider-padding-multiplier]
///   The multiplier to use to scale the padding values up or down. By default,
///   this shrinks the panel padding values.
///
/// @require {mixin} breakpoint.on
/// @require {mixin} material-panel-divider
/// @require {variable} $material-panel-padding-small
/// @require {variable} $material-panel-padding-large
/// @require {variable} $material-panel-padding-breakpoint
/// @require {variable} $material-panel-divider-padding-multiplier
///
@mixin material-panel-footer(
  $padding-small:       $material-panel-padding-small,
  $padding-large:       $material-panel-padding-large,
  $padding-breakpoint:  $material-panel-padding-breakpoint,
  $padding-multiplier:  $material-panel-divider-padding-multiplier
) {
  margin-top:     $padding-small;
  margin-bottom:  -$padding-small;
  padding-bottom: ($padding-small * $padding-multiplier);

  @if $padding-small != $padding-large {
    @include breakpoint.on($padding-breakpoint) {
      margin-top:     $padding-large;
      margin-bottom:  -$padding-large;
      padding-bottom: ($padding-large * $padding-multiplier);
    }
  }

  // This is the divider between the footer and any preceding content.
  &::before {
    content: '';

    display: block;

    @include material-panel-divider(
      $padding-small:       $padding-small,
      $padding-large:       $padding-large,
      $padding-breakpoint:  $padding-breakpoint,
      $padding-multiplier:  $padding-multiplier
    );
  }
}
