// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - To top component
// -----------------------------------------------------------------------------

@use 'icon';
@use 'material.button' as material-button;
@use 'sass/helpers/colour';
@use 'sass/helpers/selector';
@use 'sass/helpers/z-index';
@use 'sass/variables/motion';
@use '_to_top' as to-top;

.to-top {
  position: fixed;

  @include selector.root-conditions(('[dir=ltr]'), 'html') {
    right:  to-top.$offset-horizontal;
  }
  @include selector.root-conditions(('[dir=rtl]'), 'html') {
    left: to-top.$offset-horizontal;
  }

  bottom: to-top.$offset-bottom;

  @include z-index.get('floating');

  transition-property:        opacity, transform;
  transition-duration:        0.3s;
  transition-timing-function: motion.$easing-sharp;

  &--hidden {
    opacity:  0;

    @include selector.root-conditions(('[dir=ltr]'), 'html') {
      transform:  translateX(to-top.$hidden-offset);
    }
    @include selector.root-conditions(('[dir=rtl]'), 'html') {
      transform:  translateX(to-top.$hidden-offset * -1);
    }
  }

  &__link {
    display: block;

    color: to-top.$foreground-colour-on-light !important;

    @include material-button.material-button-fab(
      $background-colour:           to-top.$background-colour-normal-on-light,
      $background-colour-interact:  to-top.$background-colour-interact-on-light
    );

    @include colour.on-dark-colour-scheme {
      color: to-top.$foreground-colour-on-dark !important;

      @include material-button.material-button-fab(
        $background-colour:           to-top.$background-colour-normal-on-dark,
        $background-colour-interact:  to-top.$background-colour-interact-on-dark
      );
    }

    // Make focus outline circular if the browser supports it.
    -moz-outline-radius:  50%;
    outline-radius:       50%;

    // Use the background colour for the focus outline to ensure contrast as the
    // outline uses currentColor by default, which is white in this case.
    &:focus {
      outline-color: to-top.$background-colour-normal-on-light;
    }
  }

  .ambientimpact-icon {
    // The icon is throwing off the x/y coordinates of the Material ripple, so
    // make it click-through.
    pointer-events: none;

    // Make sure the icon text is vertically aligned with the icon for if/when
    // we decide to make the text visible or the icon fails to load/hasn't
    // loaded yet. The selector is required for specificity over the default
    // icon styles.
    &:not(.ambientimpact-icon--icon-standalone-loaded) {
      @include icon.set-icon-vertical-alignment(centre);
      @include icon.set-icon-text-spacing(icon.$icon-text-spacing * 2);
      @include icon.set-icon-display(block);
    }
  }
}

// Page top anchor.
#top {
  position: absolute;
  top:      0;
}
