{#
/**
 * @file
 * Default theme implementation for the social links list.
 *
 * @see config/install/ambientimpact_block.social_links.yml
 *   List of variables and their default values.
 *
 * @see config/install/ambientimpact_block.social_links_network.yml
 *   Individual network default values.
 *
 * @ingroup themeable
 */
#}
<ol{{ create_attribute({'class': [
	base_class,
	base_class ~ '--display-'		~ display|clean_class,
	base_class ~ '--orientation-'	~ orientation|clean_class,
	base_class ~ '--alignment-'		~ alignment|clean_class,
]}) }}>
{% for network in networks %}
	<li{{ create_attribute({'class': [
		base_class ~ '__network',
	]}) }}>
		<a{{ create_attribute({
			'class':	[
				base_class ~ '__network-link',
			],
			'href':		network.url,
			'title':	network.titleAttribute
		}) }}>{{ network.content }}</a>
	</li>
{% endfor %}
</ol>
