// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Textarea component
// -----------------------------------------------------------------------------

@import 'sass/common';

.autosize-textarea-wrapper textarea {
  // Override Drupal's default min-height for textareas so that autosize has
  // complete control.
  min-height: 0;
  // Native resizing is not needed if autosize is active.
  resize:     none;

  // @todo Why doesn't this work at all?
  transition: height 0.2s $easing-decelerate;
}
