// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Drupal toolbar component partial
// -----------------------------------------------------------------------------

@use '_toolbar.breakpoint' as *;
@use '_toolbar.colour' as *;
@use '_toolbar.typography' as *;

///
/// Drupal toolbar current tab indicator thickness.
///
$toolbar-tab-current-indicator-thickness: 0.2em !default;

///
/// Drupal toolbar tray item border thickness.
///
$toolbar-tray-item-border-thickness: 1px !default;

///
/// Drupal toolbar tray item border.
///
$toolbar-tray-item-border:
  $toolbar-tray-item-border-thickness solid
  $toolbar-tray-item-border-colour !default;
