// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Drupal toolbar component state
// -----------------------------------------------------------------------------

@use 'link/link.state' as link-state;
@use 'sass/helpers/colour';
@use '_toolbar' as *;
@use '_toolbar.colour' as *;

.toolbar .toolbar-bar {
  @include colour.set-colours($background: $toolbar-bar-background-colour);
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-icon {
  @include link-state.link-hover {
    @include colour.set-colours(
      $background: $toolbar-tab-interact-background-colour
    );
  }

  // Current item indicator.
  &::after {
    content: '';

    display: block;

    position: absolute;

    left:   0;
    right:  0;
    bottom: 0;

    height: $toolbar-tab-current-indicator-thickness;

    transform: scaleY(0);
    transform-origin: bottom center;

    background-color: $toolbar-tab-current-indicator-colour;

    transition-duration: 0.2s;
    transition-property: transform;
  }

  &.toolbar-icon.is-active {
    @include colour.set-colours(
      $background: $toolbar-tab-current-background-colour
    );

    // Remove the default gradient, as it looks kind of dated design-wise.
    background-image: none;

    &::after {
      transform: scaleY(1);
    }
  }
}

.toolbar .toolbar-tray .toolbar-icon,
.toolbar .toolbar-tray .toolbar-menu a:not(.toolbar-icon) {
  @include link-state.link-hover {
    @include colour.set-colours(
      $background: $toolbar-tray-item-interact-background-colour
    );
  }
}
