// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Shared content partial
// -----------------------------------------------------------------------------

@include add-breakpoints((
  // The width at which we can comfortably allow floated content without
  // adjacent text being too cramped.
  'content-items-floated': 30em
));

// Basic styles for floating a block of content left or right within a body of
// text.
@include media('>=content-items-floated') {
  $content-items-gutter: $general-spacing * 2;

  .content-left,
  .content-right {
    max-width: 50%;
    max-width: calc(50% - $content-items-gutter);
  }
  .content-left {
    float: left;

    margin-right: $content-items-gutter;
  }
  .content-right {
    float: right;

    margin-left: $content-items-gutter;
  }
}
