// -----------------------------------------------------------------------------
//   Hiding helpers
// -----------------------------------------------------------------------------

///
/// Hide an element using clipping, absolute positioning, and overflow: hidden.
///
@mixin me {
  position: absolute;

  // Legacy.
  clip: rect(1px, 1px, 1px, 1px);
  // Modern.
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);

  // This is just in case.
  width:    1px;
  height:   1px;
  overflow: hidden;

  // Prevent flowing to new lines, which can make text render without spaces
  // in screen readers.
  // @link https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  white-space: nowrap;
}

///
/// Hide text within an element.
///
/// @link http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
///
@mixin text {
  text-indent:  100%;
  white-space:  nowrap;
  overflow:     hidden;
}
