// -----------------------------------------------------------------------------
//   Shadow helpers
// -----------------------------------------------------------------------------

$generic-colour: greyscale(0, 0.5) !default;

$generic-radius: 0.4rem !default;

$generic-offset-x: 0 !default;

$generic-offset-y: 0 !default;

@mixin generic(
  $radius:    $generic-radius,
  $colour:    $generic-colour,
  $offset-x:  $generic-offset-x,
  $offset-y:  $generic-offset-y,
  $inset:     false
) {

  $shadow: $offset-x $offset-y $radius $colour;

  @if $inset == true {
    $shadow: $shadow inset;
  }

  box-shadow: $shadow;

}
