// -----------------------------------------------------------------------------
//   Transition helpers
// -----------------------------------------------------------------------------

///
/// Transition duration for beginning interaction with an element.
///
/// This is intentionally 0s to make the state change react instantly.
///
$fade-in-duration: 0s !default;

///
/// Transition duration for when interaction with an element has ended.
///
/// This is has a non-zero duration to fade out properties on interaction
/// having to give the element a smooth feel.
///
$fade-out-duration: 0.5s !default;

///
/// Properties to transition by default on interactions.
///
/// Does not include text-shadow as that's used by fancy link underlines.
///
/// @see {mixin} fade-base
///   Used in this mixin.
///
$fade-properties: color, background-color, border-color, outline-color, opacity,
  box-shadow, filter, text-decoration-color !default;

///
/// Set base fade transition properties.
///
/// @param {List} $props [$fade-properties]
///   A comma-separated list of properties to transition.
///
/// @param {Number} $duration [$fade-out-duration]
///   The duration of the fade out in 's' (seconds) or 'ms' (milliseconds).
///
/// @param $easing {Mixed}
///   An easing type to use in transition-timing-function.
///
/// @see {Mixin} fade-highlight
///   Used to set transition properties when an element is interacted with, such
///   as being hovered or focused.
///
@mixin fade-base(
  $props:     $fade-properties,
  $duration:  $fade-out-duration,
  $easing:    linear
) {
  transition-property:        $props;
  transition-duration:        $duration;
  transition-timing-function: $easing;
}

///
/// Set highlighted fade transition properties. This is usually on focus/hover.
///
/// @see {Mixin} fade-base
///
@mixin fade-highlight {
  transition-duration: $fade-in-duration;
}
