/* -----------------------------------------------------------------------------
	Ambient.Impact - Core - Material Design panel partial
----------------------------------------------------------------------------- */


///
/// Material panel background colour, light variant.
///
$material-panel-background-colour-light:	white				!default;

///
/// Material panel background colour, dark variant.
///
$material-panel-background-colour-dark:		greyscale(10%)		!default;

///
/// Material panel background colour.
///
/// @deprecated This is here for legacy purposes, to not break stuff. Use the
/// light and dark variables instead.
///
/// @see {variable} $material-panel-background-colour-light
/// @see {variable} $material-panel-background-colour-dark
///
$material-panel-colour:
	$material-panel-background-colour-light						!default;

$material-panel-padding-small:		1.5rem						!default;
$material-panel-padding-large:		3rem						!default;
$material-panel-padding-breakpoint:	'>=material-panel-padding'	!default;

$material-panel-divider-colour:		$material-line-colour		!default;
$material-panel-divider-height:		1px							!default;
$material-panel-divider-padding-multiplier:	0.3					!default;

@include add-breakpoints((
	'material-panel-padding': 30em
));


///
/// Styles to present an element as a Material panel/card.
///
/// This sets background/foreground colours, padding, box-shadow, and
/// border-radius.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {Color} $background-colour [$material-panel-background-colour-light]
///   The background colour for the panel.
///
/// @param {Color} $foreground-colour-on-light [$foreground-colour-on-light]
///   The foreground colour to use if the background colour is considered to be
///   more dark than light.
///
/// @param {Color} $foreground-colour-on-dark [$foreground-colour-on-dark]
///   The foreground colour to use if the background colour is considered to be
///   more light than dark.
///
/// @param {Number} $shadow-depth [2]
///   The shadow depth to pass to mixin material-shadow.
///
/// @see {mixin} material-panel-padding
/// @see {mixin} material-shadow
///
/// @author Matei "Ambient.Impact" Stanca
///
@mixin material-panel(
	$padding-small:					$material-panel-padding-small,
	$padding-large:					$material-panel-padding-large,
	$padding-breakpoint:			$material-panel-padding-breakpoint,
	$background-colour:				$material-panel-background-colour-light,
	$foreground-colour-on-light:	$foreground-colour-on-light,
	$foreground-colour-on-dark:		$foreground-colour-on-dark,
	$shadow-depth:					2
) {
	@include material-panel-padding(
		$padding-small:			$padding-small,
		$padding-large:			$padding-large,
		$padding-breakpoint:	$padding-breakpoint
	);

	border-radius:				$material-border-radius;

	@include set-colours(
		$background:			$background-colour,
		$foreground-on-light:	$foreground-colour-on-light,
		$foreground-on-dark:	$foreground-colour-on-dark
	);

	@include material-shadow($shadow-depth);
}

///
/// Sets the padding on a Material panel/card.
///
/// This sets padding based on the axis/axes specified and will switch to the
/// larger padding value once the given breakpoint is reached.
///
/// @param {Number} $padding-small [$material-panel-padding-small]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *hasn't* been exceeded.
///
/// @param {Number} $padding-large [$material-panel-padding-large]
///   The padding to use if the breakpoint named in the $padding-breakpoint
///   parameter *has* been exceeded.
///
/// @param {String} $padding-breakpoint [$material-panel-padding-breakpoint]
///   The breakpoint to switch from small to large padding.
///
/// @param {String} $padding-axis ['both']
///   The axis/axes to apply padding to. Valid values are 'horizontal',
///   'vertical', and 'both'.
///
/// @see {mixin} media
///
/// @author Matei "Ambient.Impact" Stanca
///
@mixin material-panel-padding(
	$padding-small:			$material-panel-padding-small,
	$padding-large:			$material-panel-padding-large,
	$padding-breakpoint:	$material-panel-padding-breakpoint,
	$padding-axis:			'both'
) {
	@if $padding-axis == 'horizontal' {
		padding-left:	$padding-small;
		padding-right:	$padding-small;

	} @else if $padding-axis == 'vertical' {
		padding-top:	$padding-small;
		padding-bottom:	$padding-small;

	} @else {
		padding:		$padding-small;
	}

	// Don't bother with the breakpoint and large padding if both padding
	// parameters are the same.
	@if $padding-small != $padding-large {
		@include media($padding-breakpoint) {
			@if $padding-axis == 'horizontal' {
				padding-left:	$padding-large;
				padding-right:	$padding-large;

			} @else if $padding-axis == 'vertical' {
				padding-top:	$padding-large;
				padding-bottom:	$padding-large;

			} @else {
				padding:		$padding-large;
			}
		}
	}
}


@mixin material-panel-divider(
	$padding-small:			$material-panel-padding-small,
	$padding-large:			$material-panel-padding-large,
	$padding-breakpoint:	$material-panel-padding-breakpoint,
	$padding-multiplier:	$material-panel-divider-padding-multiplier
) {
	content: '';

	display: block;

	height:	$material-panel-divider-height;

	margin: ($padding-small * $padding-multiplier) (-$padding-small);

	@include media($padding-breakpoint) {
		margin: ($padding-large * $padding-multiplier) (-$padding-large);
	}

	background-color: $material-panel-divider-colour;
}


@mixin material-panel-footer(
	$padding-small:			$material-panel-padding-small,
	$padding-large:			$material-panel-padding-large,
	$padding-breakpoint:	$material-panel-padding-breakpoint,
	$padding-multiplier:	$material-panel-divider-padding-multiplier
) {
	margin-top:		$padding-small;
	margin-bottom:	-$padding-small;
	padding-bottom:	($padding-small * $padding-multiplier);

	@include media($padding-breakpoint) {
		margin-top:		$padding-large;
		margin-bottom:	-$padding-large;
		padding-bottom:	($padding-large * $padding-multiplier);
	}

	&::before {
		@include material-panel-divider(
			$padding-small:			$padding-small,
			$padding-large:			$padding-large,
			$padding-breakpoint:	$padding-breakpoint,
			$padding-multiplier:	$padding-multiplier
		);
	}
}
