/* -----------------------------------------------------------------------------
	Ambient.Impact - Core - Material Design general stuff partial
----------------------------------------------------------------------------- */


$material-is-dark:			false !default;

$material-border-radius:	2px !default;
$material-item-padding:		0.6em 1em;
