// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Link component variables partial
// -----------------------------------------------------------------------------

@use 'material.common/material.colour' as material-colour;
@use 'sass:color';
@use 'sass:meta';
@use 'sass/helpers/colour';

///
/// The link base colour.
///
$link-base-colour: material-colour.$material-primary-colour !default;

///
/// Link colour on light backgrounds when not highlighted/activated.
///
$link-normal-colour-on-light: $link-base-colour !default;

///
/// Link colour on dark backgrounds when not highlighted/activated.
///
/// This takes the base link colour and inverts the lightness, which works for
/// most colours that aren't too dark, but you may have to adjust it if the base
/// colour is fairly dark.
///
/// Additionally, we use a custom value if the default $link-base-colour or the
/// default $material-primary-colour are in use, as inverting the lightness of
/// that still results in a colour without enough contrast against dark
/// background colours.
///
/// @require {variable} $link-base-colour
/// @require {function} invert-lightness
///
$link-normal-colour-on-dark:
  if(
    // Default $material-primary-colour.
    $link-base-colour == rgb(63, 81, 181),
    #7280ff,
    colour.invert-lightness($link-base-colour)
  ) !default;

///
/// Link colour on light backgrounds when hovered/focused.
///
$link-hover-colour-on-light:
  color.adjust($link-normal-colour-on-light, $lightness: 10%) !default;

///
/// Link colour on dark backgrounds when hovered/focused.
///
$link-hover-colour-on-dark:
  color.adjust($link-normal-colour-on-dark,  $lightness: 10%) !default;

///
/// Link colour on light backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-active-colour-on-light: auto !default;

///
/// Link colour on dark backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-active-colour-on-dark: auto !default;

///
/// Link underline colour on light backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-light:
  rgba($link-normal-colour-on-light, 0.6) !default;

///
/// Link underline colour on dark backgrounds when not highlighted/activated.
///
$link-underline-normal-colour-on-dark:
  rgba($link-normal-colour-on-dark, 0.6) !default;

///
/// Link underline colour on light backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-light: $link-hover-colour-on-light !default;

///
/// Link underline colour on dark backgrounds when hovered/focused.
///
$link-underline-hover-colour-on-dark: $link-hover-colour-on-dark !default;

///
/// Link underline colour on light backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-underline-active-colour-on-light: $link-active-colour-on-light !default;

///
/// Link underline colour on dark backgrounds when activated.
///
/// A value of auto indicates that the active colour should be automatically
/// generated based on the highlighted colour.
///
/// @see {function} get-link-active-colour
///
$link-underline-active-colour-on-dark: $link-active-colour-on-dark !default;
