// -----------------------------------------------------------------------------
//   Typograpy selection helpers
// -----------------------------------------------------------------------------

@use 'sass:color';

///
/// Default selection colour; light blue.
///
$text-selection-background-colour: #0078d7 !default;

///
/// Default selection colour when the viewport is inactive.
///
$text-inactive-selection-background-colour:
  color.adjust($text-selection-background-colour, $saturation: -60%) !default;

///
/// Set selection colours.
///
/// Selection can be on text, or images, or other media.
///
/// @param {Color} $active-background-colour [$text-selection-background-colour]
///   Selection colour when the viewport is in focus.
///
/// @param {Color} $inactive-background-colour [$text-inactive-selection-background-colour]
///   Selection colour when the viewport is not in focus.
///
/// @require {mixin} set-colours
///
@mixin selection(
  $active-background-colour:    $text-selection-background-colour,
  $inactive-background-colour:  $text-inactive-selection-background-colour
) {
  // Active selection.
  @include selection-active {
    @include set-colours($active-background-colour);
  }

  // Inactive selection, i.e when the viewport is not in focus.
  @include selection-inactive {
    @include set-colours($inactive-background-colour);
  }
}

///
/// Set selection styles when the viewport is in focus.
///
/// Autoprefixer is expected handle the prefixed variants.
///
/// @content
///   The styles to apply when content is selected.
///
@mixin selection-active {
  &::selection {
    @content;
  }
}

///
/// Set selection styles when the viewport is not in focus.
///
/// Autoprefixer is expected handle the prefixed variants.
///
/// @content
///   The styles to apply when content is selected.
///
@mixin selection-inactive {
  // Standard, not well supported yet.
  &::inactive-selection {
    @content;
  }

  // Also standard, but only supported by some browsers
  // https://css-tricks.com/window-inactive-styling/
  &::selection:window-inactive {
    @content;
  }
}
