// -----------------------------------------------------------------------------
//   Ambient.Impact - Icons - Icon component partial
// -----------------------------------------------------------------------------

///
/// The default icon width and height.
///
$icon-size:         1em !default;

///
/// The default spacing between an icon and its text, if visible.
///
/// This should be smaller than the space between words takes up so that it's
/// clear which text fragment this icon belongs to if the icon is surrounded by
/// a block of text.
///
$icon-text-spacing: 0.2em !default;

///
/// Target styles to an icon container selector.
///
/// @content
///   Styles to wrap in the icon container selector.
///
@mixin on-icon-container {
  .ambientimpact-icon {
    @content;
  }
}

///
/// Target styles to an icon element selector; i.e. the <svg> element.
///
/// @content
///   Styles to wrap in the icon element selector.
///
@mixin on-icon-icon {
  .ambientimpact-icon__icon {
    @content;
  }
}

///
/// Target styles to an icon text selector.
///
/// @content
///   Styles to wrap in the icon text selector.
///
@mixin on-icon-text {
  .ambientimpact-icon__text {
    @content;
  }
}

///
/// Sets transform transition properties on an .ambientimpact-icon element.
///
/// @param {Number} $transition-duration [200ms]
///   The duration to set for the transition-duration.
///
/// @param {String} $transition-easing [linear]
///   The easing to set for the transition-timing-function.
///
/// @content
///   Any additional properties to include after the transition properies.
///
@mixin icon-transform-transition(
  $transition-duration: 200ms,
  $transition-easing:   linear
) {
  @include on-icon-icon {
    transition-property:        transform;
    transition-duration:        $transition-duration;
    transition-timing-function: $transition-easing;

    @content;
  }
}

///
/// Sets the icon size on an .ambientimpact-icon element.
///
/// This is mostly meant for internal use. If you want to change the icon size,
/// either override the $icon-size global variable, or change the font-size on
/// .ambientimpact-icon (for icon and text), or .ambientimpact-icon__icon (for
/// just the icon).
///
/// Note that we have to also set the min-width so that the icon doesn't get
/// scaled down in certain edge cases when displayed as grid - this is probably
/// because SVG elements are treated like responsive images by modern browsers.
///
/// @param {Number} $size
///   The width and height of the icon.
///
@mixin set-icon-size($size) {
  .ambientimpact-icon__icon {
    width:      $size;
    min-width:  $size;
    height:     $size;
  }
  // If this icon is standalone, set explicit dimensions on container and
  // display as block.
  &.ambientimpact-icon--icon-standalone-loaded {
    display:    block;

    width:      $size;
    min-width:  $size;
    height:     $size;
  }
}

///
/// Sets the icon colour on an .ambientimpact-icon element.
///
/// @param {Color} $colour
///
@mixin set-icon-colour($colour) {
  .ambientimpact-icon__icon {
    fill: $colour;
  }
}

///
/// Sets the icon display property, using grid layout if available.
///
/// Note that grid is only applied to non-standalone icons and standalone icons
/// that haven't loaded yet, the latter having text visible until the icon loads
/// and thus being treated as non-standalone until the icon is loaded.
///
/// @param {String} $display [inline]
///   Valid values are:
///
///   - inline: This sets display: inline; if grid is not supported or allowed,
///     and display: inline-grid; otherwise.
///
///   - block: This sets display: block; if grid is not supported or allowed,
///     and display: grid; otherwise.
///
/// @require {Mixin} use-grid
///
@mixin set-icon-display($display: inline) {
  @if ($display == inline) {
    display:  inline;
  } @else if ($display == block) {
    display:  block;
  }

  &:not(.ambientimpact-icon--icon-standalone-loaded) {
    @include use-grid {
      @if ($display == inline) {
        display:  inline-grid;
      } @else if ($display == block) {
        display:  grid;
      }
    }
  }
}

///
/// Sets the icon vertical alignment on an .ambientimpact-icon element.
///
/// @param {String} $align [text]
///   Valid values are:
///
///   - text: aligns to the text baseline, which is also the default if not
///     specified or value is not recognized.
///
///   - link: will behave similar to 'text', but will be slightly higher to
///     account for text underline.
///
///   - centre: attempts to vertically center the icon within the parent
///     container.
///
@mixin set-icon-vertical-alignment($align: text) {
  // Icons next to plain text.
  $text-align-inline: -0.2em;
  $text-align-grid:   -0.15em;

  // Icons within a link next to text.
  $link-align-inline: -0.25em;
  $link-align-grid:   -0.25em;

  // Centre vertically. 'center' is accepted for backwards compatibility.
  @if $align == centre or $align == center {
    align-items:  center;

    .ambientimpact-icon__icon {
      // We can't use a value of 0 or baseline as that still looks off. We
      // can align to the first line, which is better than nothing.
      vertical-align:   $text-align-inline;

      // Reset, in case we've set these previously.
      @include use-grid {
        bottom:         0;

        vertical-align: 0;
      }
    }

  // Align to text baseline but account for link underlines.
  } @else if $align == link {
    align-items:  baseline;

    .ambientimpact-icon__icon {
      vertical-align:   $link-align-inline;

      @include use-grid {
        bottom:         $link-align-grid;

        vertical-align: 0;
      }
    }
  // Default is to align roughly to the text baseline.
  } @else {
    align-items:  baseline;

    .ambientimpact-icon__icon {
      vertical-align:   $text-align-inline;

      @include use-grid {
        bottom:     $text-align-grid;

        vertical-align: 0;
      }
    }
  }
}

///
/// Sets the space between icon and text on an .ambientimpact-icon element.
///
/// @param {Number} $spacing
///
@mixin set-icon-text-spacing($spacing) {
  @include use-grid {
    grid-column-gap: $spacing;
  }
  .ambientimpact-icon__icon {
    @include root-conditions(('[dir=ltr]'), 'html') {
      padding-right: $spacing;
    }

    @include root-conditions(('[dir=rtl]'), 'html') {
      padding-left: $spacing;
    }

    @include use-grid {
      @include root-conditions(('[dir=ltr]'), 'html') {
        padding-right: 0;
      }

      @include root-conditions(('[dir=rtl]'), 'html') {
        padding-left: 0;
      }
    }
  }
}

///
/// Sets the order of the icon and text on an .ambientimpact-icon element.
///
/// Note that this requires CSS Grid support and will not have any effect if
/// falling back to the inline, pre-Grid layout.
///
/// @param {String} $order [icon-first]
///   Valid values are:
///
///   - icon-first: The icon will be displayed before the text. In left-to-right
///     languages (such as English), this means the icon will be on the left and
///     the text will be on the right. In right-to-left languages, the icon will
///     be on the left and the text will be on the right.
///
///   - text-first: The text will be displayed before the icon. In left-to-right
///     languages (such as English), this means the text will be on the left and
///     the icon will be on the right. In right-to-left languages, the text will
///     be on the left and the icon will be on the right.
///
@mixin set-icon-order($order: icon-first) {
  &:not(.ambientimpact-icon--icon-standalone-loaded) {
    @if $order == icon-first {
      grid-template-columns:  auto 1fr;

      @include on-icon-icon {
        order: 1;
      }
      @include on-icon-text {
        order: 2;
      }

    } @else if $order == text-first {
      grid-template-columns:  1fr auto;

      @include on-icon-icon {
        order: 2;
      }
      @include on-icon-text {
        order: 1;
      }
    }
  }
}

///
/// Set an icon to stacked mode, where the icon and text are stacked vertically.
///
/// This overrides the default horizontal layout of icons and their content.
///
@mixin set-icon-stacked {
  display: block;

  // Specificity.
  @include use-grid {
    display: block;
  }

  @include on-icon-icon {
    display: block;

    // Specificity.
    &:not(.ambientimpact-icon--icon-standalone-loaded) {
      bottom: auto;
    }

    // Centre horizontally.
    margin-left:  auto;
    margin-right: auto;
  }

  @include on-icon-text {
    display: block;
  }
}

///
/// Sets text indent on lines after the first on an .ambientimpact-icon element.
///
/// Usually this is the icon width plus the spacing between the icon and text to
/// line up the start of the first line and subsequent lines. This is removed
/// if CSS Grid is supported.
///
/// @param {Number} $indent
///
@mixin set-icon-text-indent($indent) {
  @supports (display: inline-block) {
    display:      inline-block;
    margin-left:  $indent;
    text-indent:  -$indent;

    @include use-grid {
      margin-left:  0;
      text-indent:  0;
    }
  }
}
