// -----------------------------------------------------------------------------
//   Ambient.Impact - Icons - Icon component partial
// -----------------------------------------------------------------------------

///
/// The default icon width and height.
///
$icon-size: 1em !default;

///
/// The default spacing between an icon and its text, if visible.
///
/// This should be smaller than the space between words takes up so that it's
/// clear which text fragment this icon belongs to if the icon is surrounded by
/// a block of text.
///
$icon-text-spacing: 0.2em !default;

///
/// Icon reveal animation duration when its bundle has loaded.
///
$icon-loaded-reveal-animation-duration: 0.3s !default;

///
/// Target styles to an icon container selector.
///
/// @content
///   Styles to wrap in the icon container selector.
///
@mixin on-icon-container {
  .ambientimpact-icon {
    @content;
  }
}

///
/// Target styles to an icon element selector; i.e. the <svg> element.
///
/// @content
///   Styles to wrap in the icon element selector.
///
@mixin on-icon-icon {
  .ambientimpact-icon__icon {
    @content;
  }
}

///
/// Target styles to an icon text selector.
///
/// @content
///   Styles to wrap in the icon text selector.
///
@mixin on-icon-text {
  .ambientimpact-icon__text {
    @content;
  }
}

///
/// Sets transform transition properties on an .ambientimpact-icon element.
///
/// @param {Number} $transition-duration [400ms]
///   The duration to set for the transition-duration.
///
/// @param {String} $transition-easing [$easing-decelerate]
///   The easing to set for the transition-timing-function.
///
/// @content
///   Any additional properties to include after the transition properies.
///
/// @require {variable} $easing-decelerate
///
@mixin icon-transform-transition(
  $transition-duration: 400ms,
  $transition-easing:   $easing-decelerate
) {
  @include on-icon-icon {
    transition-property:        transform;
    transition-duration:        $transition-duration;
    transition-timing-function: $transition-easing;

    @content;
  }
}

///
/// Sets the icon size on an .ambientimpact-icon element.
///
/// This is mostly meant for internal use. If you want to change the icon size,
/// either override the $icon-size global variable, or change the font-size on
/// .ambientimpact-icon (for icon and text), or .ambientimpact-icon__icon (for
/// just the icon).
///
/// Note that we have to also set the min-width so that the icon doesn't get
/// scaled down in certain edge cases when displayed as grid - this is probably
/// because SVG elements are treated like responsive images by modern browsers.
///
/// @param {Number} $size
///   The width and height of the icon.
///
@mixin set-icon-size($size) {
  .ambientimpact-icon__icon {
    width:      $size;
    min-width:  $size;
    height:     $size;
  }
  // If this icon is standalone, set explicit dimensions on container and
  // display as block.
  &.ambientimpact-icon--icon-standalone-loaded {
    display:    block;

    width:      $size;
    min-width:  $size;
    height:     $size;
  }
}

///
/// Sets the icon colour on an .ambientimpact-icon element.
///
/// @param {Color} $colour
///
@mixin set-icon-colour($colour) {
  .ambientimpact-icon__icon {
    fill: $colour;
  }
}

///
/// Sets the icon display mode.
///
/// Note that CSS Grid is only applied to non-standalone icons and standalone icons
/// that haven't loaded yet, the latter functioning like the former until the
/// bundle is marked as loaded.
///
/// Note that this does not use display: inline-grid; for the inline mode as
/// Chrome on Android has a pretty horrendous bug that causes random forced line
/// breaks when using this display value - this has been observed up to the time
/// of writing in March 2020 as of Chrome 80.
///
/// @param {String} $display [inline]
///   Valid values are:
///
///   - inline: This sets display: inline; on the icon container.
///
///   - inline-block: This sets display: inline-block; on the icon container.
///
///   - block: This sets display: block; display: flex; and lastly display:
///     grid; if the browser supports it and is allowed.
///
/// @require {mixin} use-grid
/// @require {mixin} on-icon-icon
///
@mixin set-icon-display($display: inline) {
  @if ($display == inline) or ($display == inline-block) {
    display: $display;

  } @else if ($display == block) {
    display: block;
    // Use flexbox if supported so that changing the order of the icon and text
    // is still possible if a browser doesn't support CSS Grid.
    display: flex;

    &:not(.ambientimpact-icon--icon-standalone-loaded) {
      @include use-grid {
        display: grid;

        @include on-icon-icon {
          // Remove horizontal padding added by the set-icon-text-spacing mixin.
          padding-left:   0;
          padding-right:  0;
        }
      }
    }
  }
}

///
/// Sets the icon vertical alignment on an .ambientimpact-icon element.
///
/// @param {String} $align [text]
///   Valid values are:
///
///   - text: aligns to the text baseline, which is also the default if not
///     specified or value is not recognized.
///
///   - link: will behave similar to 'text', but will be slightly higher to
///     account for text underline.
///
///   - centre: attempts to vertically center the icon within the parent
///     container.
///
@mixin set-icon-vertical-alignment($align: text) {
  // Icons next to plain text.
  $text-align-inline: -0.2em;

  // Icons within a link next to text.
  $link-align-inline: -0.25em;

  // Centre vertically. 'center' is also accepted.
  @if $align == centre or $align == center {
    align-items: center;

    .ambientimpact-icon__icon {
      // We can't use a value of 0 or baseline as that still looks off. We
      // can align to the first line, which is better than nothing.
      vertical-align: $text-align-inline;

      // Reset, in case we've set these previously.
      @include use-grid {
        align-self: center;

        // vertical-align has no effect when CSS Grid is in effect.
      }
    }

  // Align to text baseline but account for link underlines.
  } @else if $align == link {
    .ambientimpact-icon__icon {
      vertical-align: $link-align-inline;
    }

  // Any other $align value is treated as the default of 'text', which attempts
  // to align to the text baseline.
  } @else {
    .ambientimpact-icon__icon {
      vertical-align: $text-align-inline;
    }
  }

  // Common stuff for all alignments that aren't centre/center.
  @if $align != centre and $align != center {
    align-items: baseline;

    .ambientimpact-icon__icon {
      @include use-grid {
        // This is required to fix discrepancies between Gecko and Blink so that
        // they both (mostly) agree on where to align the icon relative to text.
        align-self: start;

        // vertical-align has no effect when CSS Grid is in effect.
      }
    }
  }
}

///
/// Sets the space between icon and text on an .ambientimpact-icon element.
///
/// @param {Number} $spacing
///
@mixin set-icon-text-spacing($spacing) {
  @include use-grid {
    grid-column-gap: $spacing;
  }

  .ambientimpact-icon__icon {

    @supports (padding-inline-end: #{$spacing}) {
      padding-inline-end: $spacing;
    }

    // Apply padding to both sides as we don't know here on which side the icon
    // is respective to the text. Note that this is removed in the
    // set-icon-display mixin if CSS Grid is available.
    @supports not (padding-inline-end: #{$spacing}) {
      padding-right:  $spacing;
      padding-left:   $spacing;
    }
  }
}

///
/// Sets the order of the icon and text on an .ambientimpact-icon element.
///
/// Note that this requires CSS Grid support and will not have any effect if
/// falling back to the inline, pre-Grid layout.
///
/// @param {String} $order [icon-first]
///   Valid values are:
///
///   - icon-first: The icon will be displayed before the text. In left-to-right
///     languages (such as English), this means the icon will be on the left and
///     the text will be on the right. In right-to-left languages, the icon will
///     be on the left and the text will be on the right.
///
///   - text-first: The text will be displayed before the icon. In left-to-right
///     languages (such as English), this means the text will be on the left and
///     the icon will be on the right. In right-to-left languages, the text will
///     be on the left and the icon will be on the right.
///
@mixin set-icon-order($order: icon-first) {
  &:not(.ambientimpact-icon--icon-standalone-loaded) {
    @if $order == icon-first {
      grid-template-columns:  auto 1fr;

      @include on-icon-icon {
        order: 1;
      }
      @include on-icon-text {
        order: 2;
      }

    } @else if $order == text-first {
      grid-template-columns:  1fr auto;

      @include on-icon-icon {
        order: 2;
      }
      @include on-icon-text {
        order: 1;
      }
    }
  }
}

///
/// Set an icon to stacked mode, where the icon and text are stacked vertically.
///
/// This overrides the default horizontal layout of icons and their content.
///
@mixin set-icon-stacked {
  display: block;

  // Specificity.
  @include use-grid {
    display: block;
  }

  @include on-icon-icon {
    display: block;

    // Specificity.
    &:not(.ambientimpact-icon--icon-standalone-loaded) {
      bottom: auto;
    }

    // Centre horizontally.
    margin-left:  auto;
    margin-right: auto;
  }

  @include on-icon-text {
    display: block;
  }
}

///
/// Sets text indent on lines after the first on an .ambientimpact-icon element.
///
/// Usually this is the icon width plus the spacing between the icon and text to
/// line up the start of the first line and subsequent lines.
///
/// @param {Number} $indent
///
@mixin set-icon-text-indent($indent) {

  @supports (margin-inline-start: #{$indent}) {
    margin-inline-start: $indent;
  }

  @supports not (margin-inline-start: #{$indent}) {
    margin-left:  $indent;
  }

  text-indent: -$indent;

}
