// -----------------------------------------------------------------------------
//   Ambient.Impact - Icons - Icon component
// -----------------------------------------------------------------------------

@import '../../../ambientimpact_core/stylesheets/_common.scss';

///
/// Icon reveal animation when its bundle has loaded.
///
@keyframes icon-loaded-reveal {
  0% {
    opacity:    0;
  }
  100% {
    opacity:    1;
  }
}

.ambientimpact-icon {
  $self: &;

  @include set-icon-size($icon-size);

  // Inherit the text colour from the parent:
  // http://css-tricks.com/cascading-svg-fill-color/
  @include set-icon-colour(currentColor);

  &__icon {
    position: relative;

    // Chrome has a bug (feature?) where events can be spuriously fired on
    // SVGs inside of links, etc., which causes all sorts of problems.
    pointer-events: none;
  }

  @include set-icon-display(inline);

  // Set default icon order.
  @include set-icon-order;

  &:not(.ambientimpact-icon--icon-standalone-loaded) {

    @include set-icon-display(inline-block);

    // Icons with text align to text baseline.
    @include set-icon-vertical-alignment('text');

    // Required so icon text displays underlines correctly when inline-block in
    // a link or other element that uses text-decoration.
    text-decoration: inherit;

    a & {
      // Icons with text inside links align to text baseline, taking the
      // link underline into account.
      @include set-icon-vertical-alignment('link');
    }

    // Add a bit of space between icon and text.
    @include set-icon-text-spacing($icon-text-spacing);

    // Set any wrapped lines to line up with the start of the first line's
    // text content (after the icon).
    @include set-icon-text-indent($icon-size + $icon-text-spacing);

    // Icons in a passage of text need to be able to break within the flow of
    // the containing text, which doesn't work when displayed as inline-block -
    // in the latter case, the text will break, but only when the full width of
    // the icon container can't fit on a single line; otherwise, the icon
    // container will always break to a new line as a whole when it doesn't fit;
    // this is fixed by setting it to inline. Since the container is now inline,
    // we also remove the indent.
    p & {
      @include set-icon-display(inline);
      @include set-icon-text-indent(0);

      // Remove the inherited text-decoration as this would cause double
      // layering of it, which would be most apparent if a partitially
      // transparent colour were used. Note that this does not remove the
      // text-decoration of this text created by the parent/ancestor element as
      // a descendent cannot remove that per the spec.
      //
      // @see https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration
      text-decoration: none;
    }
  }

  // Visually hidden text. This text is visually hidden but still accessible
  // to non-visual user agents like screen readers. Note that this is only
  // applied to the icon once the bundle has been marked as loaded by
  // JavaScript.
  &--icon-standalone-loaded#{&}--text-visually-hidden &__text {
    @include hide-me;
  }
  // Totally hidden text. This text is not accessible to either visual or non-
  // visual user agents like screen readers. Note that this is only applied to
  // the icon once the bundle has been marked as loaded by JavaScript.
  &--icon-standalone-loaded#{&}--text-hidden &__text {
    display: none;
  }

  // This prevents the space between the icon and the first word from breaking
  // to a new line.
  white-space: nowrap;

  // This restores normal breaking after the first word in the icon text.
  &__text {
    white-space: normal;
  }

  &--is-bundle-loading,
  &--is-bundle-loaded {
    #{$self}__icon {
      animation-name:             icon-loaded-reveal;
      animation-duration:         $icon-loaded-reveal-animation-duration;
      animation-timing-function:  linear;
      animation-fill-mode:        backwards;
    }
  }

  &--is-bundle-loading #{$self}__icon {
    animation-play-state: paused;
  }
  &--is-bundle-loaded #{$self}__icon {
    animation-play-state: running;
  }
}
