// -----------------------------------------------------------------------------
//  Ambient.Impact - Media - PhotoSwipe colour component
// -----------------------------------------------------------------------------

@use 'link/link.state' as link-state;
@use '_photoswipe' as *;

///
/// Set the default PhotoSwipe colour theme.
///
@include set-photoswipe-theme;

.#{$photoswipe-root-class} {

  // All of these inherit their foreground colours from their parents.
  &__counter,
  &__button,
  &__caption__center {
    color:  inherit;
  }

  // Share menu.
  &__share-tooltip a {
    // Set to use a contrasting white. The share menu is always white with
    // the link backgrounds a custom colour depending on the share type.
    @include link-state.hover {
      --link-hover-colour: white;

      color: var(--link-hover-colour);
    }
  }
}
