// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Material tabs partial
// -----------------------------------------------------------------------------

@use 'link/link.state' as link-state;
@use 'material.common/material.colour' as material-colour;
@use 'material.common/material.general' as material-general;
@use 'sass/helpers/colour';

///
/// Material tabs container underline colour on light backgrounds.
///
$underline-colour-on-light: material-colour.$line-on-light !default;

///
/// Material tabs container underline colour on dark backgrounds.
///
$underline-colour-on-dark: material-colour.$line-on-dark !default;

///
/// Material tabs container underline thickness.
///
$underline-thickness: 1px !default;

///
/// Material tabs active indicator underline colour.
///
$indicator-colour: material-colour.$primary !default;

///
/// Material tabs active indicator underline thickness.
///
$indicator-thickness: 2px !default;

///
/// Material tabs padding.
///
$padding: material-general.$item-padding-text-align !default;

///
/// Style and layout for a Material tabs container.
///
/// This is usually applied to a <ul> or similar element.
///
/// @require {mixin} colour.on-dark-scheme
///
@mixin container {

  display: flex;

  // Required to provide a new positioning context for the ::after.
  position: relative;

  overflow-x: auto;

  padding-bottom: $underline-thickness;

  // Force a single line so multiple word items don't wrap to a new line and
  // defeat the purpose of horizontal scrolling the container to minimize
  // vertical space usage.
  white-space: nowrap;

  // A pseudo-element is necessary as a border will not allow the active item
  // indicator to shift down without causing vertical scrollbars.
  &::after {

    content: '';

    position: absolute;

    left:   0;
    right:  0;
    bottom: 0;

    // Use border rather a background colour with height as the latter has
    // issues with sub-pixel rounding issues and can be rendered thicker than
    // intended.
    border-bottom: $underline-thickness solid
      $underline-colour-on-light;

    @include colour.on-dark-scheme {
      border-bottom-color: $underline-colour-on-dark;
    }

  }

}

///
/// Style and layout for Material tab items.
///
/// This is usually applied to interactive elements such as <a>.
///
/// @require {mixin} link-state.highlight
/// @require {mixin} colour.on-dark-scheme
///
@mixin item {

  position: relative;

  padding:  $padding;

  font-weight:    strong;
  text-transform: uppercase;
  line-height:    1;

  @include link-state.highlight {
    background-color: material-colour.$flat-item-interact-on-light;

    @include colour.on-dark-scheme {
      background-color: material-colour.$flat-item-interact-on-dark;
    }
  }

}


///
/// Style and layout for Material tab item current indicator.
///
/// This is intended to be applied to a descendent of the current tab that has
/// had the item mixin applied.
///
/// This adds a bar under the active item to indicate its active state.
///
@mixin item-current {

  position: absolute;

  left:   0;
  right:  0;
  // Shift down to cancel out the container underline.
  bottom: -$underline-thickness;

  // Use border rather a background colour with height as the latter has issues
  // with sub-pixel rounding issues and can be rendered thicker than intended.
  border-bottom: $indicator-thickness solid $indicator-colour;

}
