// -----------------------------------------------------------------------------
//   Ambient.Impact - UX - Menu: overflow component
// -----------------------------------------------------------------------------

@import 'sass/common';

$base-class: 'menu-overflow';

.#{$base-class} {
  display: none;
}

.menu--overflow-enhanced {
  .#{$base-class} {
    display: block;

    &--hidden {
      display: none;
    }
  }

  .menu-item--hidden {
    display: none;
  }
}
