// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Material Design ripple component
// -----------------------------------------------------------------------------

// @see https://codepen.io/jproffitt71/pen/PBPKmw

@import '../../stylesheets/_common.scss';

.material-ripple {
  @include material-ripple;
}

@keyframes material-ripple {
  // Start frame where the ripple is zero size.
  0% {
    background-size: 0 0, 0 0;
    background-position:
      calc(
        50% - var(--material-ripple-element-width, 0px) / 2 +
        var(--material-ripple-pointer-offset-x, 0px)
      )
      calc(
        50% - var(--material-ripple-element-height, 0px) / 2 +
        var(--material-ripple-pointer-offset-y, 0px)
      ),
      0 0;
  }
  // End frame for the ripple expanding - it should now cover the whole element.
  33% {
    background-size:
      calc(
        2 * var(--material-ripple-max-radius,
          #{$material-ripple-fallback-radius}
        )
      )
      calc(2 * var(--material-ripple-max-radius, 200vw)),
      0 0;
    background-size:
      calc(2 * var(--material-ripple-max-radius,
        #{$material-ripple-fallback-radius})
      ) 100vmax,
      0 0;
    background-position:
      calc(
        50% - var(--material-ripple-element-width, 0px) / 2 +
        var(--material-ripple-pointer-offset-x, 0px)
      )
      calc(
        50% - var(--material-ripple-element-height, 0px) / 2 +
        var(--material-ripple-pointer-offset-y, 0px)
      ),
      0 0;
  }
  // Switch to the linear gradient that's used to simulate a fade out.
  33.1% {
    background-size: 0 0, 100% 1000%;
  }
  // Linear gradient has fully faded out.
  100% {
    background-size: 0 0, 100% 1000%;
    background-position: 0 0, 0 100%;
  }
}
