// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Material Design text input underline partial
// -----------------------------------------------------------------------------

///
/// Material Input underline colour when the input is not focused.
///
/// This is applied to the thin underline.
///
$material-input-underline-colour-inactive: $material-line-colour !default;

///
/// Material Input underline colour when the input is focused.
///
/// This is applied to the thick underline.
///
$material-input-underline-colour-focus: $material-primary-colour !default;

///
/// Material Input underline transition duration.
///
/// This is a bit slower than the general transition value, which roughly equals
/// 0.2s if the general one is the default 0.15s.
///
$material-input-underline-transition-duration:
  $material-input-transition-duration * 1.34 !default;

@mixin material-input-underline {
  // This is the base, thin underline. It's applied to both the input and the
  // inserted underline element for progressive enhancement.
  input,
  textarea,
  .material-input__underline {
    // !important is required to override Drupal error styles.
    border-width: 0 0 1px 0 !important;
    border-style: solid;
    border-color: $material-input-underline-colour-inactive;
  }

  input,
  textarea {
    // Disabled underline is dashed to differentiate it from enabled.
    &:disabled {
      &, & + .material-input__underline {
        border-bottom-style: dashed;
      }
    }

    // On focus without JavaScript enhancement, we just change the border
    // colour.
    &:focus {
      border-color: $material-input-underline-colour-focus;
    }
  }

  // Once the input is given this class by the JavaScript, remove the bottom
  // border as that's handled by the inserted underline element.
  .material-input__input {
    // !important is required to override Drupal error styles.
    border-width: 0 !important;
  }

  // Underline element inserted via JavaScript.
  .material-input__underline {
    position: relative;
    display:  block;

    // The actual thick underline.
    &::after {
      content: '';

      display: block;

      position: absolute;

      height: 2px;

      left:   0;
      right:  0;
      bottom: -1px;

      background-color: $material-input-underline-colour-focus;

      transform:  scaleX(0);

      transition-duration:        $material-input-underline-transition-duration;
      transition-property:        transform;
      transition-timing-function: $easing-standard;
    }
  }
  // Expand the thick underline to the full width on focus.
  &.material-input--has-focus .material-input__underline::after {
    transform:  scaleX(1);
  }
}
