// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Material Design text input label partial
// -----------------------------------------------------------------------------

///
/// Material Input label height when shown at full size.
///
$material-input-label-height: 1.3rem !default;

///
/// Material Input label text colour when input has content or is focused.
///
$material-input-label-colour-active:
  $material-input-border-colour-focus !default;

///
/// Material Input label text colour when input is disabled.
///
$material-input-label-colour-disabled: inherit !default;

///
/// Material Input label text colour when input is empty.
///
$material-input-label-colour-empty: inherit !default;

///
/// Material Input label scale factor when minified.
///
$material-input-label-minified-scale: 0.75 !default;

///
/// Material Input label transition duration.
///
/// This is a bit faster than the general transition value, which roughly equals
/// 0.1s if the general one is the default 0.15s.
///
$material-input-label-transition-duration:
  $material-input-transition-duration * 0.67 !default;

///
/// Material Input static label styles.
///
/// @param {Color} $foreground-colour
///   The colour to set on the label text.
///
@mixin material-input-label-static($foreground-colour) {
  display:      block;

  font-size:    $material-input-label-minified-scale * 100%;

  color:        $foreground-colour;

  line-height:  $material-input-line-height;
}

///
/// Material Input label styles.
///
@mixin material-input-label {
  // Labels without any JavaScript enhancement are made to look like the
  // enhanced labels when the input has focus/has a value.
  label {
    @include material-input-label-static($material-input-label-colour-active);
  }

  .material-input__label:not(.visually-hidden) {
    & + .material-input__input,
    & + .material-input__autocomplete + input.material-input__input,
    & + .form-textarea-wrapper .material-input__input {
      // We use margin-top instead of padding-top to avoid Chrome (and
      // maybe WebKit in general?) autofill background colour from
      // reaching up under the input label, when it should only show
      // behind the input.
      margin-top: $material-input-label-height;
    }
  }

  .material-input__label:not(.visually-hidden) {
    position: absolute;
    top:      0;
    left:     0;

    transform: scale($material-input-label-minified-scale);
    transform-origin: 0 0;

    opacity: 1;

    // Reset the font-size now that we've enhanced the label.
    font-size: 100%;

    transition-duration:        $material-input-label-transition-duration;
    transition-property:        transform opacity color;
    transition-timing-function: $easing-sharp;

    // Don't obstruct clicks on the input underneath when overlaid.
    pointer-events: none;

    &.form-required::after {
      // Hide the required asterisk, as they are detrimental to UX
      // @see http://uxmovement.com/forms/why-users-fill-out-less-if-you-mark-required-fields/
      content: none;
    }

    // Optional indicator on labels.
    .material-input__optional {
      opacity:    0.6;
      font-style: italic;
    }
  }
  // Labels for empty inputs that don't have a placeholder and aren't in focus
  // are overlaid on top of the input.
  &.material-input--is-empty:not(
    .material-input--has-focus
  ):not(
    .material-input--has-placeholder
  ) .material-input__label:not(.visually-hidden) {
    transform:  translateY($material-input-label-height) scale(1);

    opacity:  $material-input-de-emphasized-opacity;

    color:    $material-input-label-colour-empty;
  }
  &.form-disabled .material-input__label {
    color:    $material-input-label-colour-disabled;
    opacity:  $material-input-de-emphasized-opacity;
  }
}
