// -----------------------------------------------------------------------------
//   Ambient.Impact - Core - Material Design text input partial
// -----------------------------------------------------------------------------

///
/// Material Input transition duration.
///
/// This is used for underline, label, and description transitions.
///
$material-input-transition-duration: 0.15s !default;

///
/// Material Input de-emphasized element opacity.
///
/// This is used on labels when they're overlaid on an empty input and on the
/// inputs themselves when they're disabled.
///
$material-input-de-emphasized-opacity: 0.4 !default;

///
/// Material Input line height for inputs, labels, and related elements.
///
$material-input-line-height: 1.2 !default;

///
/// Material Input error message colour.
///
$material-input-messages-colour-error: $material-error-colour !default;

///
/// Material Input messages height.
///
$material-input-messages-height: 1.5rem !default;

@import '_material.input.underline.scss';
@import '_material.input.label.scss';
// @import '_material.input.autocomplete.scss';

///
/// Material Input styles.
///
@mixin material-input {
  position: relative;

  // We're using flexbox to place any children that aren't the label, input,
  // underline, or messages at the end of the block to prevent issues with the
  // floating label pattern.
  display:        flex;
  flex-direction: column;

  > :not(
    .material-input__label
  ):not(
    .material-input__input
  ):not(
    .material-input__underline
  ):not(
    .material-input__messages
  ) {
    order: 2;
  }

  // This reduces layout jump when progressively enhancing.
  padding-bottom: $material-input-messages-height;

  // When the .material-input class is applied to the container, JavaScript
  // should have enhanced it, so we can remove the bottom padding.
  &.material-input {
    padding-bottom: 0;
  }

  input,
  textarea {
    width:    100%;

    box-sizing: border-box;

    margin:   0;
    padding:  0;

    background-color: transparent;

    color:      inherit;

    // This removes the default outlining in various browsers.
    box-shadow: none !important;
    outline:    none !important;

    // This ensures the autosizing textareas don't get phantom space underneath
    // when they're just one line due to Drupal 8's normalize.css rules. What
    // matters here is that all inputs and textareas have the same line-height.
    line-height: $material-input-line-height;

    &:disabled {
      opacity: $material-input-de-emphasized-opacity;
    }
  }

  @include material-input-underline;

  @include material-input-label;

  // Messages are currently only used to display error messages. These are
  // placed right after the input/underline, but before any description or other
  // elements.
  .material-input__messages {
    display:    block;

    min-height: $material-input-messages-height;

    font-size:  75%;

    color:      $material-input-messages-colour-error;
  }

  // Optional input description provided via Drupal's Form API. This is
  // translated upwards to occupy the space the messages are in, until the
  // messages are shown.
  .material-input__description {
    margin-top: 0.2rem;

    opacity:    0.75;

    transform:  translateY(-$material-input-messages-height);

    transition-duration:        $material-input-transition-duration;
    transition-property:        transform;
    transition-timing-function: $easing-decelerate;
  }

  // Shift the description into its natural place if an error is being displayed
  // as it would now be occupying the error message's place.
  &.material-input--is-invalid .material-input__description {
    transform:  translateY(0);

    transition-duration:        $material-input-transition-duration;
    transition-property:        transform;
    transition-timing-function: $easing-accelerate;
  }

  // .form-type-link-field & {
  //   // Hide Link field prefix and suffix labels
  //   .field-prefix,
  //   .field-suffix {
  //     @include hide-me;
  //   }
  // }

  // @include material-input-autocomplete;
}
